body{
    font-size: 67.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0061cf url(./assets/sea.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size:100% 100%;
    background-size: 100% 50%;
    -o-background-size:100% 100%;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    color: lightcoral;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;
    /*text-shadow: 1px 2px 0 #bd8437; offset-x| offset-y | blur-radius | color */
}
header h2{
    font-weight: 300;
    font-size: 3.8em;
    color: darkblue;
    margin: -0.4em 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


section #main{
    background-color:turquoise;
    width: 200px;
    height: 200px;
    margin:0 0 2.0em;
    padding:1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius:2em;
    box-shadow:15px 15px 15px #777;
    
}

*nav bars*/
 nav {
     color: #000;
     font-size:1.7em;
     padding: 1.0em 1.0em 0.5em;
     margin: 1.0em 0;
 }
 nav u1{
     margin: 0;
     padding: 0;    
     list-style: none;
 }
 nav li{
    display: inline-block;
    margin:0;
 }
 nav li a, nav li a:visited{
     text-decoration:none;
     color: #C64322;
     padding:0.3em 0.6em;
 }
 nav li a:hover {
     color: #C64322;
     background-color: rgba(252,251,243,0.75);
 }